.field-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border: 2px solid #3498db; /* Adjust border color as needed */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    flex-basis: calc(25% - 10px);
    margin-bottom: 20px;
    font-size: 16px;
    color: #333; /* Adjust text color as needed */
}

input,
select {
    width: 100%;
    padding: 12px; /* Adjust padding for better visibility */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 10px;
    font-size: 14px;
}

/* Style for the drop-down field */
select {
    width: calc(100% - 6px); /* Adjust width to leave space for the border */
}

/* Center the Field Data input */
.label-field-data {
    display: flex;
    align-items: center;
}

button {
    flex-basis: calc(25% - 10px);
    background-color: #71b8e4;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
    transition: background-color 0.3s ease; /* Smooth transition effect */
}

button:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

button:hover {
    background-color: #2c81ba;
}
